{% extends "base.html" %}
{% load static %}
{% block content %}


<a href="{% url 'outlets-create' %}" class="bg-blue-700 rounded-md p-1">Create Outlet</a>

{% if outlets|length == 0 %}

    <h1>No Outlets</h1>
    <a href="{% url 'outlets-create' %}" class="bg-blue-700 rounded-md p-1">Create Outlet</a>
    <p>{{outlets}}</p>

{% else %}

  {% for outlet in outlets %}
      <p>{{ outlet }}</p>
  {% endfor %}

{% endif %}




<form id="delete">

    <label for="id">Timer ID:</label>
    <input type="text" id="delete_id" name="id" maxlength="100" required>

    <button type="submit">Delete</button>
</form>

<script>
    const form = document.getElementById('delete');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      const timer_id = document.getElementById('delete_id').value;

      const payload = JSON.stringify({ timer_id });

      try {
        const response = await fetch('http://127.0.0.1:8000/api/timer', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: payload
        });

        if (!response.ok) {
          throw new Error('API request failed');
        }

        const data = await response.json();
        console.log(data);
      } catch (error) {
        console.error(error);
      }
    });
</script>

{% endblock content %}